<!DOCTYPE html>
<html lang="en">
<html>
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="SHORTCUT ICON" href="../static/img/ujx.ico">
	<base href="<%=basePath%>">
	
	<title>江西理工大学软件学院毕业要求与课程信息</title>

	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
-->


<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link href="../static/css/blog.css" rel="stylesheet" type="text/css">
<!-- <link href="css/lec.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-select.css">



<style type="text/css">
	/* Custom Styles */

	body {
		min-height: 1000px;
		padding-top: 50px;
	}

	/*a标签去掉下划线*/
	a:link { 
		text-decoration: none; 
	} 
	a:visited { 
		text-decoration: none; 
	} 
	a:hover { 
		text-decoration: none; 
	} 
	a:active { 
		text-decoration: none; 
	}

	.bg-li-0{
		background-color:#9bc2e3; /*#9bc2e3  #337ab7 */
		color: #ffffff;
	}
	.bg-li-1{
		background-color:#f8f8f8;
	}
	.bg-li-2{
		background-color:#d7e7f4;/*#80bfff f2f9ff*/
	}
	/*空白*/
	.space{
		height: 4px;
	}

</style>

</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="-44">

	<!-- Fixed navbar -->
	<nav id="myScrollspy" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">UJXSAT</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#section-schoolprofessionstab">学院专业</a></li>
					<li><a href="#section-course">课程</a></li>
					<li><a href="#section-graduationrequirement">毕业要求</a></li>
					<li><a href="#section-subgraduationrequirement">指标点</a></li>
					<li><a href="#section-subgradcourserelation">指标点与课程关联</a></li>
					<li><a href="#section-relationachievedegree">达成度</a></li>
					<li><a href="#section-viewachievestatistics">统计</a></li>
					<li><a href="/index">培养计划入口</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:showUser()" id="user"><i class="glyphicon glyphicon-user"></i></a></li>
					<li><a href="javascript:login()">登陆</a></li>
					<li><a href="javascript:logout()">退出</a></li>
				</ul>
			</div>


		</div> <!-- end container -->
	</nav> <!-- end nav -->

	<!-- 轮播 -->
	<div>
		<div id="carousel-example-generic" class="carousel slide col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ride="carousel" > 
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox" style="height:300px;">
				<div class="item active">
					<img src="../static/img/20151022025904163.jpg" alt="First slide">
					<div class="carousel-caption">
						<!-- 致远石 -->
					</div>
				</div>
				<div class="item">
					<img src="../static/img/20151022025546392.jpg" alt="Second slide">
					<div class="carousel-caption">
						<!-- 学校大门 -->
					</div>
				</div>
				<div class="item">
					<img src="../static/img/20151022025705541.jpg" alt="Third slide">
					<div class="carousel-caption">
						<!-- 八角塘广场 -->
					</div>
				</div>
			</div>

			<!-- Controls -->
			
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" > <!-- style="width-left:15px;width-right:15px " -->
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			
		</div>
	</div>
	<div> <!-- data-offset="0" -->

		<div class="container-fluid"><!--  -fluid -->
			<div class="row" >

				<!-- 学院专业栏 -->
				<div id="section-schoolprofessionstab"  class="col-xs-3 col-sm-2 col-md-2 col-lg-2" >
					<ul id ="schoolprofessions" class="nav ">  <!-- style="height:400px;overflow:auto; position: relative;" -->


					</ul>
				</div>


				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 "><!--  col-sm-offset-1 col-md-offset-1 col-lg-offset-1 -->
					<!-- 当前专业 -->
					<h2 id="professionid" profid='<s:property value="#session.profid"/>' class="center-block"></h2>
					
					<div class="panel-group" id="accordion">

						<div class="panel panel-primary" id="section-course">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-course" -->
									<a data-toggle="collapse" data-parent="#accordion" >
										课程
									</a>
								</h3>
							</div>
							<div id="collapse-course" class="panel-collapse collapse">
								<div class="panel-body">
									<!-- 设置查询条件 -->
									<div class="container-fluid">
										<div class="row">
											<form id="query-condition-course-form">
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
													<div class="input-group">
														<span class="input-group-addon">课程名称</span>
														<input name="coursename" type="text" class="form-control" >
													</div>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">课程性质</span>
														<input name="coursetype" type="text" class="form-control" >
													</div>
												</div>
												
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<button id="btn-query-course" type="button" class="btn btn-info ">条件查询</button>
													<a href="#" id="add-btn-course" class="btn obe-right-control" role="button"><span class="glyphicon glyphicon-plus" style="color: rgb(98, 125, 255);"> 增加</span></a>
												</div>	
											</form>
										</div>
									</div>
									<br>

									<div class="table-responsive" >	
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>		
													<th rowspan="2" width=5%>编号</th>
													<!-- <th rowspan="2" width=5%>ID</th> -->
													<th rowspan="2" width=25%>课程名</th>
													<th rowspan="2" width=5%>总学分</th>
													<th rowspan="2" width=5%>总学时</th>
													<th colspan="4" width=25%>学时分配</th>
													<th rowspan="2" width=10%>考核类型</th>
													<th rowspan="2" width=10%>课程性质</th>
													<th rowspan="2" colspan="2" width=10%>操作</th>
												</tr>
												<tr>
													<th>授课</th>
													<th>实验</th>
													<th>上机</th>
													<th>课外</th>
												</tr>
											</thead>
											<tbody id="tbcourse">

											</tbody>
										</table>
									</div>
									<!-- 分页 -->
									<ul id="pagination-course" class="pagination-sm"></ul>

								</div> <!--  end panel-body -->
							</div> <!--  end collapse-course -->
						</div> <!--  end panel -->

						<div class="panel panel-primary" id="section-graduationrequirement">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-graduationrequirement" -->
									<a data-toggle="collapse" data-parent="#accordion" >
										毕业要求
									</a>
								</h3>
							</div>

							<div id="collapse-graduationrequirement" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="#" id="add-btn-graduationrequirement" class="btn obe-right-control" role="button"><span class="glyphicon glyphicon-plus" style="color: rgb(98, 125, 255);"> 增加</span></a>
									<br><br>
									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>
													<th width=5%>编号</th>
													<!-- <th width=5%>ID</th> -->
													<th>毕业要求</th>
													<th colspan="2" width=10%>操作</th>
												</tr>
											</thead>
											<tbody id="tbgraduationrequirement">

											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->


						<div class="panel panel-primary" id="section-subgraduationrequirement">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-subgraduationrequirement" -->
									<a data-toggle="collapse" data-parent="#accordion" >
										毕业要求子项指标点
									</a>
								</h3>
							</div>

							<div id="collapse-subgraduationrequirement" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="#" id="add-btn-subgraduationrequirement" class="btn obe-right-control" role="button"><span class="glyphicon glyphicon-plus" style="color: rgb(98, 125, 255);"> 增加</span>
									</a>
									<br>
									<br>
									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>
													<th width=5%>编号</th>					
													<th width=20%>毕业要求</th>
													<!-- <th width=5%>ID</th> -->
													<th width=5%>子编号</th>
													<th>毕业要求指标点</th>
                                                    <th width=5%>权重</th>
													<th colspan="2" width=10%>操作</th>
												</tr>
											</thead>
											<tbody id="tbsubgraduationrequirement">

											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->


						<div class="panel panel-primary" id="section-subgradcourserelation">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-subgradcourserelation" -->
									<a data-toggle="collapse in" data-parent="#accordion" >
										毕业要求指标点与课程关联 
									</a>
								</h3>
							</div>

							<div id="collapse-subgradcourserelation" class="panel-collapse collapse">
								<div class="panel-body">

									<!-- 设置查询条件 -->
									<div class="container-fluid">
										<div class="row">
											<form id="query-condition-relation-sgrc-form">
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">毕业要求编号</span>
														<input name="grCode" type="text" class="form-control" >
													</div>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">指标点编号</span>
														<input name="sgrCode" type="text" class="form-control" >
													</div>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">课程名称</span>
														<input name="coursename" type="text" class="form-control" >
													</div>
												</div>
												
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<button id="btn-query-relation-sgrc" type="button" class="btn btn-info ">条件查询</button>
													<a href="#" id="add-btn-subgradcourserelation" class="btn obe-right-control" role="button"><span class="glyphicon glyphicon-plus" style="color: rgb(98, 125, 255);"> 增加</span>
													</a>
												</div>	
											</form>
										</div>
									</div>
									<br>
									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>		
													<th width=5%>编号</th>	
													<th width=20%>毕业要求</th>
													<th width=5%>子编号</th>
													<th width=30%>毕业要求指标点</th>
													<th width=20%>支撑课程</th>
													<th width=10%>达成度占比</th>

													<th colspan="2" width=10%>操作</th>
												</tr>
											</thead>
											<tbody id="tbviewsubgradcourserelation">


											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->

						<div class="panel panel-primary" id="section-relationachievedegree">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-relationachievedegree" -->
									<a data-toggle="collapse in" data-parent="#accordion" >
										指标点与课程关联的达成度 
									</a>
								</h3>
							</div>

							<div id="collapse-relationachievedegree" class="panel-collapse collapse">
								<div class="panel-body">

									<!-- 设置查询条件 -->
									<div class="container-fluid">
										<div class="row">
											<form id="query-condition-relationachievedegree-form">
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">毕业要求编号</span>
														<input name="grCode" type="text" class="form-control" >
													</div>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">指标点编号</span>
														<input name="sgrCode" type="text" class="form-control" >
													</div>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="input-group">
														<span class="input-group-addon">课程名称</span>
														<input name="coursename" type="text" class="form-control" >
													</div>
												</div>

												<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<button id="btn-query-relationachievedegree" type="button" class="btn btn-info ">条件查询</button>
													<a href="#" id="add-btn-relationachievedegree" class="btn obe-right-control" role="button"><span class="glyphicon glyphicon-plus" style="color: rgb(98, 125, 255);"> 增加</span>
													</a>
												</div>	
											</form>
										</div>
									</div>
									<br>
									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>
													<th width=5%>编号</th>		
													<th width=5%>毕业要求</th>
													<th width=5%>指标点</th>
													<th >课程名称</th>
													<th width=20%>学年</th>
													<th width=15%>达成度(百分制)</th>
													<th width=15%>课程反馈(十分制)</th>
													<th colspan="2" width=10%>操作</th>
												</tr>
											</thead>
											<tbody id="tbviewrelationachievedegree">

											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->

						<div class="panel panel-primary" id="section-viewachievestatistics">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-viewachievestatistics" -->
									<a data-toggle="collapse in" data-parent="#accordion" >
										指标点达成度统计 
									</a>
								</h3>
							</div>

							<div id="collapse-viewachievestatistics" class="panel-collapse collapse">
								<div class="panel-body">

									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>
													<th >编号</th>		
													<th >毕业要求</th>
													<th >指标点</th>
													<th >达成统计</th>
													<th >学年</th>
													
												</tr>
											</thead>
											<tbody id="tbviewachievestatistics">

											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->
                        <div class="panel panel-primary" id="section-viewgraduationstatistics">
							<div class="panel-heading  center-block">
								<h3  class="panel-title">
								<!-- href="#collapse-viewgraduationstatistics" -->
									<a data-toggle="collapse in" data-parent="#accordion" >
										毕业要求达成度统计
									</a>
								</h3>
							</div>

							<div id="collapse-viewgraduationstatistics" class="panel-collapse collapse">
								<div class="panel-body">

									<div class="table-responsive" >
										<table class="table table-striped table-condensed table-hover table-bordered">
											<thead>
												<tr>
													<th >编号</th>
													<th >毕业要求</th>
													<th >达成统计</th>
													<th >学年</th>

												</tr>
											</thead>
											<tbody id="tbviewgraduationstatistics">

											</tbody>
										</table>

									</div>

								</div><!--  end panel-body -->
							</div><!--  end collapse-course -->
						</div><!--  end panel -->

					</div> <!-- end panel-group -->
				</div>  <!-- end col -->


			</div> <!-- end row -->



		</div><!--  end container-fluid  -->

		

		<!-- 模态框 -->
		<div class="modal fade" id="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal-title">Modal title</h4>
					</div>
					<div class="modal-body" id="modal-body">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="modal-btn-submit">确定</button>
					</div>
				</div>
			</div>
		</div>

	</div><!--  end container  -->




	<footer class="blog-footer">
		<p>江西理工大学软件学院</p>
		<p>
			作者：Cisnao<br>邮箱：Cisnao@555.com.
		</p>
		<p>
			<a href="#section-schoolprofessionstab">回到顶部</a>
		</p>
	</footer>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.twbsPagination.js"></script>
	<script src="../static/js/bootstrap-select.js"></script>

	<script src="../static/js/base.js"></script>
	<script src="../static/js/lec.js"></script>

</body>
</html>
